<div>
    <!--<gkc-heatmap [heatMapData]="_heatMapData"  ></gkc-heatmap>-->
    <!--<app-debouce></app-debouce>-->
    <button (click)="createHelloWorldComponent()">Create Hello World</button>
    <button (click)="createWorldHelloComponent()">Create World Hello</button>

   
    <a [routerLink]="['/tearable']" class="likeabutton">Navigate to Tearable cloth</a>

    <a [routerLink]="['/particle']" class="likeabutton">Navigate to Particle</a>

    <a [routerLink]="['/motion']" class="likeabutton">Navigate to Motion Graphic</a>
    <a [routerLink]="['/multiselect']" class="likeabutton">Navigate tomultiselect</a>

     
    <app-multiselect name="items" class="pull-left" [items]="items"></app-multiselect>
     

     <app-ng-zone-demo></app-ng-zone-demo>

    <!--<button (click)="createWorldHelloComponent()">Create World Hello</button>

    <button (click)="createWorldHelloComponent()">Create World Hello</button>

    <button (click)="createWorldHelloComponent()">Create World Hello</button>-->

    <app-dynamic-component [componentData]="componentData"></app-dynamic-component>
</div>


<router-outlet ></router-outlet>


